<body>

<link rel="stylesheet" href="/stylesheet/style.css" />

  <h1>The Task  <%= task.taskName %></h1>
  <div class="task-container">


  <h2>Task Details</h2>
  <p>Task's Name:   <%= task.taskName %></p>
  <p>Description:     $<%= task.description %></p>
  <p>Duration: <%= task.duration %></p>
  <p>Status: <%= task.status %></p>
  <p>Ministry:     <%= task.ministry %></p>
  <p>Teams:     <%= task.teams %></p>
  <p>Created By: <%= task.owner.username %></p>
  <p>Created At: <%= task.createdAt.toLocaleDateString() %></p>
  <p>Last Updated: <%= task.updatedAt.toLocaleDateString() %></p>
 </div>

    <h3>Actions</h3>
    <a href="/tasks">Back to Task List</a>
    <br>
    <a href="/tasks/<%= task._id %>/edit">Edit this Task</a>
    <br>
    <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
     
      <button type="submit">Delete this Task</button>
    </form>

</body>